body {
  text-align: center;
  background-color: #e5bed0;
}

h1 {
  font-size: 5rem;
  color: #ec1c7a;
  font-family: "Arvo", cursive;
  text-shadow: 4px 2px rgb(128, 230, 13);
}

footer {
  color: black;
  font-family: cursive;
  font-size: 2rem;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 4px 3px 4px 3px rgb(128, 230, 13);
  opacity: 0.6;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #e4475c;
  font-size: 6rem;
  font-family: "Arvo", cursive;
  font-weight: 900;
  color: #da0463;
  text-shadow: 3px 1px #dbedf3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
/* @media only screen and (max-width:500px){

    media query to be added. for iphone x

} */
